{% extends 'layout.twig' %}
{% block body %}
<div id="resume-printer"></div>
<div id="root"></div>
{% endblock %}
{%block bottom_js%}
<script>
    window.initialState = {{initialState}}
</script>
<script src="/dist/bundle.js?v=1.0"></script>
{%endblock%}