<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-wep-app-capable" content="yes">
    <meta lang="ru">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/dist/bundle.css'/>
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/css/core/legacy.css">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Веб-разработчик Дмитрий Лазуков">
    <meta property="og:title" content="Веб-разработчик Дмитрий Лазуков">
    <meta property="og:description" content="Fullstack Python middle developer">
    <meta property="og:url" content="http://lazukov.site">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="http://lazukov.site/images/og_wrapper.jpg">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Веб-разработчик Дмитрий Лазуков">
    <meta name="twitter:description" content="Fullstack Python middle developer">
    <meta name="twitter:image:src" content="http://lazukov.site/images/og_wrapper.jpg">
    <meta name="twitter:url" content="http://lazukov.site">
    <meta name="twitter:domain" content="lazukov.site">
    <meta name="twitter:site" content="lazukov.site">
    <meta name="twitter:creator" content="Dmitrii Lazukov">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W4CRD73');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4CRD73"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="old-browser" style="display: none;">
    Seems like you are using old browser. Please update it!
</div>
<div id="noscript">
    Please enable Javascript to make this site works.
</div>
<script src="/js/vendor/browser_detector.js"></script>
<script>
    Element.prototype.remove = function () {
        this.parentElement.removeChild(this);
    };
    document.getElementById('noscript').remove();
</script>
{% block body %}{% endblock %}
<script>
    var browserDetector = new BrowserDetector();
    if(browserDetector.browser === 'Explorer' &&  browserDetector.version <= 9){
        document.getElementById('old-browser').style.display = 'block';
        document.getElementById('root').className = 'legacy';
    }
</script>
</body>
<!--<script src="/fonts/all.min.js"></script>-->
{% block bottom_js%}{%endblock%}
</html>
