@import "../core/constants";

.directory {
  width: calc(100% - #{$generic_shadow_size});

  height: 100%;
  min-width: 300px;
  min-height: 300px;
  &__body {
    padding: 20px;
    background-color: white;
    height: 100%;
  }
}